# Tipos de Datos y Valores Extraviados

En este JNB se revisará el tema de Tipos de Datos y Valores Extraviados en Pandas.

Dtypes

In [ ]:
#Dtypes son los tipos de datos que se pueden almacenar en un dataframe
#Puedes usarlos para especificar el tipo de dato que quieres almacenar en una columna

reviews.price.dtype
#Esto nos regresa el tipo de dato que se almacena en la columna price

reviews.dtypes
#Esto nos regresa el tipo de dato que se almacena en todas las columnas

reviews.points.astype('float64')
#Esto nos regresa la columna points como un float64
#Si intentamos hacer esto con una columna que no se puede convertir a float64, nos regresará un error
#Sirve para convertir una columna a un tipo de dato específico y poder hacer operaciones con ella, 
# más que nada con datos de tipo string a numéricos

reviews.index.dtype
#Esto nos regresa el tipo de dato que se almacena en el índice

Missing Data

In [ ]:
#Algunos valores pueden ser nulos, NaN, o NA, y pandas los maneja de manera especial
#Para verificar si un valor es nulo, se usa la función isnull()

reviews[pd.isnull(reviews.country)]
#Esto nos regresa todos los valores nulos de la columna country

#Reemplazar valores nulos es algo común en la ciencia de datos ya que los valores nulos pueden causar problemas
#Para reemplazar valores nulos se usa la función fillna()
#Hay que especificar por qué no existen los datos en los valores nulos ya que esto también nos puede dar información

reviews.region_2.fillna("Unknown")
#Esto reemplaza todos los valores nulos de la columna region_2 por "Unknown"

Hello World!

EJERCICIOS EN KAGGLE

1. What is the data type of the points column in the dataset?

In [ ]:
dtype = reviews.points.dtype
#Esto nos regresa el tipo de dato de la columna points

2. Create a Series from entries in the points column, but convert the entries to strings. Hint: strings are str in native Python.

In [ ]:
point_strings = reviews.points.astype(str)
#Esto convierte la columna points a un string

3. Sometimes the price column is null. How many reviews in the dataset are missing a price?

In [ ]:
n_missing_prices = reviews.price.isnull().sum()
#Esto nos regresa la cantidad de valores nulos en la columna price

4. What are the most common wine-producing regions? Create a Series counting the number of times each value occurs in the region_1 field. This field is often missing data, so replace missing values with Unknown. Sort in descending order. Your output should look something like this:

Unknown                    21247
Napa Valley                 4480
                           ...  
Bardolino Superiore            1
Primitivo del Tarantino        1
Name: region_1, Length: 1230, dtype: int64

In [ ]:
reviews_per_region = reviews.region_1.fillna("Unknown").value_counts().sort_values(ascending=False)
#Esto nos regresa la cantidad de valores nulos en la columna region_1